html {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #f5cbcb, #f87d7d);
}

body {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    background-color: white;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
    position: absolute;
    top: -300px;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: flyInDiv 1s ease-out forwards;
}

/* Keyframe for flying in */
@keyframes flyInDiv {
    0% {
        top: -300px; /* Start from above the screen */
        opacity: 0;
    }

    25% {
        top: 20px; /*Bouncing*/
        opacity: 0.25;
    }

    50% {
        top: 40px;
        opacity: 0.5;
    }

    75% {
        top: 55px;
        opacity: 0.75;
    }

    100% {
        top: 10px; /* Final position on the screen */
        opacity: 1;
    }
}    

h1 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body > p {
    margin-top: 8px;

}
input{
    font-size: 1.25rem;
    border-color: rgb(224, 224, 224);
    border-radius: 4px;
    outline: blue;
}

input:focus {
    border-color: rgb(73, 73, 228);
}

#addBtn {
    font-size: 1.25rem;
    border-radius: 4px;
    cursor: pointer;
}

.noInput {    
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: small;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.list { 
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;   
    transform: translateY(-100px);
    animation: flydown 0.3s ease-out forwards;
}

@keyframes flydown {
    0% {
        transform: translateY(-100px);
    }
    75% {
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.completed {
    color: grey;
    text-decoration: line-through;
    transition: 0.7s;
    cursor: pointer;
 }

 .trashcan {
    font-size: 1.5rem;
    color: black;
    margin-left: 5px;
    background: none;
    cursor: pointer;
 }


